---
import "./tm.scss";

import FAIcon from "../FAIcons/FAIcon.astro";

import { members } from "../../data/tm.json";

// Get all images from pfp directory
const images = (await Astro.glob("/public/images/pfp/*.{png,jpg}")).map((pfp) =>
    pfp.default.split("/public/").pop()
);

let pfps = {};

images.forEach((image) => {
    pfps[image.split("\\").pop().split("/").pop().split(".")[0]] = image;
});
---

<div class="tm">
    {
        members.map((member) => (
            <div>
                <img
                    class="pfp"
                    src={pfps[member.pfp]}
                    alt={member.name + "'s' Profile Image"}
                />
                <h3>{member.name}</h3>
                <p class="h4">{member.title}</p>
                <div class="tm-socials">
                    {member.socials.length !== 0 &&
                        member.socials.map((social) => (
                            <a
                                href={social.link}
                                target="_blank"
                                aria-label={`${member.name}'s ${social.name} Link'`}
                                title={social.name}
                            >
                                <FAIcon
                                    icon={social.icon}
                                    klass={social.class + " tm-social"}
                                />
                            </a>
                        ))}
                </div>
            </div>
        ))
    }
</div>
