---
import BaseLayout from "../layouts/BaseLayout.astro";

import Admonition from "../components/admonition/admonition.astro";
import Content from "../components/Content.astro";
import TMList from "../components/TM/TMList.astro";
import { Trailer } from "../components/Trailer/Trailer";

const title = "Home";
const description =
    "Totally Not a Bunch of Cats is an indie game dev group looking to make new content.";
const permalink = Astro.site + "Totally-Not-a-Bunch-of-Cats/";
import { home } from "../data/links.json";

const Featured = (await Astro.glob("./projects/**/*.{md,mdx}")).find(
    (file) => file.frontmatter.title === "Herding Cats"
);
---

<BaseLayout
    title={title}
    description={description}
    permalink={permalink}
    links={home}
    fa={true}
>
    <Content id="about">
        <h1 class="mb-6">About</h1>

        <div class="m-auto fit-content">
            <a
                href="https://icons8.com/illustrations/author/zD2oqC8lLBBA"
                target="_blank"
            >
                <img
                    src="images/casual-life-3d-cat-sitting-on-bookshelf.png"
                    title="Illustration by Icons 8 from Ouch!"
                />
            </a>
        </div>

        <p class="text-indent mb-4">
            Totally Not a Bunch of Cats is a small, just for fun, game
            development group looking to make enjoyable content. We all strive
            to learn about game development and the tools used with it.
        </p>

        <Admonition
            color="blue-gray"
            icon={["fas", "circle-info"]}
            className="mb-2"
        >
            <p>
                Check out our <a href="blog/" aria-label="Check out our blog"
                    >blog</a
                > if you are interested in keeping up with the groups projects
            </p>
            <div class="blue-gray button mobile">
                <a href="blog/" aria-label="Check out our blog">Blog</a>
            </div>
        </Admonition>
    </Content>

    <Content id="projects">
        <h1 class="mb-6">Projects</h1>
        <div id="projects-featured">
            <div class="d-flex flex-column align-items-center m-block-2">
                <Trailer url={Featured.frontmatter.trailer} client:visible />
                <p class="h3 m-block-2">
                    <strong class="color-cinnamon-satin">Featured:</strong>
                    {Featured.frontmatter.title}
                </p>
            </div>

            <p class="text-indent m-block-2">
                {Featured.frontmatter.longDescription}
            </p>
        </div>

        <div id="more-projects" class="text-align-right mt-10">
            <a href="projects/"
                ><strong>More<span id="more-projects-arrow"> →</span></strong>
            </a>
        </div>
    </Content>

    <Content id="team">
        <h1 class="mb-6">Team</h1>
        <TMList />
    </Content>

    <style lang="scss">
        @import "../styles/colors";

        .header {
            margin-bottom: 6rem;
        }

        .seporator {
            width: 70%;
            height: 0.25rem;

            margin-block: 6rem;
            margin-inline: auto;
            border-radius: 1rem;
        }

        #more-projects {
            transition: 0.5s;
            width: fit-content;
            background-color: map-get($map: $colors, $key: "cinnamon-satin");

            padding-inline: 1.75rem;
            padding-block: 1.25rem;
            border-radius: 1rem;
            margin-inline: auto;

            a {
                transition: 0.5s;
                letter-spacing: 0.25rem;

                color: map-get($map: $colors, $key: "platinum");

                &:hover {
                    color: map-get($map: $colors, $key: "platinum");
                }

                @media only screen and (min-width: 1200px) {
                    letter-spacing: 0.25rem;

                    &:hover {
                        margin-right: 1rem;
                        letter-spacing: 0.5rem;
                    }
                }

                @media only screen and (min-width: 90em) {
                    letter-spacing: 0.25rem;

                    &:hover {
                        margin-right: 1rem;
                        letter-spacing: 0.5rem;
                    }
                }
            }

            #more-projects-arrow {
                display: none;
            }

            @media only screen and (min-width: 850px) {
                background-color: map-get($map: $colors, $key: "platinum");
                margin: 0;
                margin-left: auto;

                a {
                    text-decoration: underline;
                    text-underline-offset: 0.75rem;

                    color: map-get($map: $colors, $key: "cinnamon-satin");

                    &:hover {
                        color: map-get($map: $colors, $key: "cinnamon-satin");
                        margin-right: 1rem;
                        letter-spacing: 0.5rem;
                    }
                }

                #more-projects-arrow {
                    display: inline;
                }
            }
        }
    </style>
</BaseLayout>
