---
import Layout from "@layout/Layout.astro";
import { Icon } from "astro-icon";
import FormattedDate from "@component/FormattedDate.astro";
import "@style/animations.css";
import "@style/custom.css";

import { Carrousel, image } from "@solid/carrousel/carrousel";

import { getCollection } from "astro:content";
import { uri } from "@script/utils";

let blog_posts = (await getCollection("blog"))
  ?.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map(({ slug, collection, data: { title, description, author, pubDate, heroImage } }) => {
    return {
      href: uri(`${collection}/${slug}`),
      src: uri(heroImage ?? ""),
      title,
      pubDate,
      author,
      description
    };
  });

if (blog_posts.length > 3) {
    blog_posts = blog_posts.slice(0, 3);
}

let project_posts = (await getCollection("project"))
  ?.sort(
    (a, b) =>
      (b.data.releaseDate?.valueOf() ?? 0) -
      (a.data.releaseDate?.valueOf() ?? 0)
  )
  .map(({ slug, collection, data: { title, heroImage } }) => {
    return image({
      href: uri(`${collection}/${slug}`),
      src: uri(heroImage ?? ""),
      label: title,
    });
  });
if (project_posts.length > 5) {
    project_posts = project_posts.slice(0, 5);
}
---
<!--
    References:
        - https://renegadegamestudios.com/
 -->
<Layout maxWidth={false} padded={false}>
    <style>
        @media(min-width: 768px) {
          .landing-clip {
            /* CC starting top left */
            clip-path: polygon(0 0, 0 100%, 30% 100%, 90% 50%, 100% 50%, 100% 0);
          }
        }

        #introduction {
            background-image: url('/Totally-Not-a-Bunch-of-Cats/images/knit.png');
            min-height: 100vh;
            min-height: 100dvh;
        }
      </style>
      <section id="introduction" aria-label="Introduction" class="py-[7rem] flex items-center justify-center">
        <div class="flex flex-col w-3/4 max-w-[115ch] mx-auto items-center justify-between gap-12">
            <div>
                <img src={uri("/images/taxi-ball-of-thread.png")}/>
            </div>
            <div class="text-center">
                <h1 class="text-5xl font-bold">Hello, we are <em>Totally Not A Bunch Of Cats</em></h1>
                <h2 class="text-2xl my-5">An indie game studio focused on making fun and accessible games</h2>
                <a 
                    href={uri("project")} 
                    class="bg-yellow-300 font-bold shadow shadow-black/20 py-2 px-8 mt-[5rem] block w-fit mx-auto rounded-full hover:bg-yellow-400"
                >
                    Projects
                </a>
            </div>
        </div>
      </section>
    
      <section
        class="my-[6rem]"
      >
          <h2 class="text-3xl font-bold text-center" transition:animate="none">Annoucements</h2>
          <div class="flex flex-col md:flex-row items-center md:items-start gap-4 justify-around my-[4rem] max-w-[80rem] mx-auto">
            {
                blog_posts.map(data => (
                    <a href={data.href} class="w-fit hover:text-yellow-500">
                        <img
                          src={data.src}
                          class="w-[20rem] inline-block aspect-video rounded-md shadow shadow-zinc-800/40" 
                          alt={`${data.title} Image`}
                          transition:name={`hero-image-${data.title}`} transition:animate="fade"
                        />
                        <div class="w-full h-fit" transition:name={`hero-title-${data.title}-date-${data.pubDate}`} transition:animate="fade">
                            <p class="text-md font-bold">{data.title}</p>
                            <em class="text-sm text-zinc-800">@{data.author} ~ <FormattedDate date={data.pubDate} /></em>
                        </div>
                        <p class="mt-2 indent-6 text-zinc-800" transition:animate="none">{data.description}</p>
                    </a>
                ))
            }
          </div>
          <a href={uri("/blog")} class="px-8 py-2 transition-colors bg-yellow-300 hover:bg-yellow-400 rounded-full shadow shadow-zinc-700/20 font-bold block w-fit mx-auto" >More Posts</a>
      </section>
<!-- 
      <section 
        class="my-[6rem]" 
        transition:animate="none"
      >
        <Carrousel
            class="shadow-md shadow-zinc-700/30 mb-[4rem] max-w-[80rem] mx-auto"
            content={project_posts}
            full
            transition:animate="none"
            client:load
        />
        <a href={uri("/project")} class="px-4 py-2 transition-colors bg-zinc-500 hover:bg-zinc-300 rounded-full shadow shadow-zinc-700/20 text-zinc-100 block w-fit mx-auto" >More Projects</a>
      </section> -->
</Layout>
