---
import type { CollectionEntry } from "astro:content";
import Layout from "@layout/Layout.astro";
import FormattedDate from "@component/FormattedDate.astro";
import { uri } from "@script/utils";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, tags, author } =
  Astro.props;
---

<Layout title={title} description={description}>
  <div class="mx-auto prose max-w-[85ch] p-2">
    <div>
      {
        heroImage && (
          <img
            transition:name={`hero-image-${title}`}
            class="rounded shadow-lg aspect-video"
            width={1020}
            height={510}
            src={uri(heroImage)}
            alt=""
          />
        )
      }
    </div>
    <div transition:name={`hero-title-${title}-date-${pubDate}`}>
      <div>
        <h1 class="mb-0">
            {title}
        </h1>
        <div class="flex gap-1">
          {author && <em>@{author} ~</em>}
          <div>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          
        </div>
        <div
            class="flex flex-wrap flex-1 gap-1 text-sm w-fit h-fit justify-end mt-4"
        >
            {tags &&
                tags.map((tag) => (
                <span class="h-fit px-1 rounded-md bg-zinc-200 text-zinc-900 shadow-sm">
                    {tag}
                </span>
            ))}
          </div>
        <hr class="mt-8" />
      </div>
      <article transition:name="blog-article" transition:animate="none">
        <slot />
      </article>
    </div>
  </div>
</Layout>
