---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { slide } from "astro:transitions";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, tags, author } =
  Astro.props;
---

<Layout title={title} description={description}>
  <div class="mx-auto prose">
    <div>
      {
        heroImage && (
          <img
            transition:name={`hero-image-${title}`}
            class="rounded shadow-lg"
            width={1020}
            height={510}
            src={heroImage}
            alt=""
          />
        )
      }
    </div>
    <div class="prose">
      <div transition:name={`hero-title-${title}-date-${pubDate}`}>
        <h1 class="mb-0">
            {title}
        </h1>
        <div class="flex gap-1">
          {author && <em>@{author} ~</em>}
          <div>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
        </div>
        <hr />
      </div>
      <article transition:name="blog-article" transition:animate="slide">
        <slot />
      </article>
    </div>
  </div>
</Layout>
